.product-list__pagination {
    margin-top: 48px;
    margin-bottom: 32px;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item {
    margin: 0 12px;
    cursor: pointer;
}

.pagination-item__link {
    --height: 30px;
    display: block;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}

.pagination-item .pagination-item--active {
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
}

.pagination-item a:hover {
    background-color: rgb(106, 163, 255);
    border-radius: 2px;
    color: #000;
}