.item-product {
    position: relative;
    display: block;
    background-color: var(--white-color);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    transition: transform linear 0.1s;
    will-change: transform;
    text-decoration: none;
    border: 1px solid rgb(235, 235, 240);
}

.item-product:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
}

.name-rate-sold {
    height: 60px;
    max-height: 60px;
}

.item-product-name {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    /* margin: 10px 10px 6px; */
    margin-top: 16px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.item-product-img {
    width: 100%;
    object-fit: cover;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.item-product-rating {
    margin-right: 14px;
}

.item-product-rating i {
    color: #ccc;
    font-size: 8px;
}

.item-product-rating .star-gold {
    color: rgb(249, 201, 26);
}

.item-product-rating .star-gray {
    color: #ccc;
}

.item-product-sold {
    font-size: 10px;
}

.item-product-price-current {
    font-weight: 500;
    font-size: 16px;
    margin-right: 8px;
}

.item-product-price-discount {
    font-weight: 500;
    font-size: 13px;
}

.item-product-delivery,
.item-product-categories {
    border-top: 1px solid rgb(235, 235, 240);
    font-size: 12px;
    opacity: 0.8;
    margin-bottom: 2px;
}

